/* Hero */

.section-hero {
	margin-bottom: 80px;
	
}

.section_skew {
	position: relative;
	z-index: 1;
	/* overflow: hidden; */
	max-width: 1392px;

}

.skew {
	position: absolute;
  bottom: -100px;
  left: -50%;
  width: 250%;
  height: 380px;
  transform: rotate(-7deg);
  background-color: var(--color-bg);
  z-index: -1;
}


.hero {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 81px;
}

.hero-title {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 40px;
	line-height: 120%;
	color: var(--color-bg);
	margin-bottom: 40px;
}

.hero-logos {
	margin-top: 80px;
}

.hero__left {
	width: 515px;
}

.hero__right {
	display: flex;
}

.hero-laptop {
	position: relative;
	left: 100px;
	width: 100%;
}


/* Блок с иконками преимуществ */

.benefits__container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
	border-bottom: rgba(78, 93, 124, 0.08) solid 1px;
}

.benefits__item {
	display: flex;
	align-items: center;
	gap: 36px;
}

.benefit-text {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #000;
}

/* Блок с функциями сайта */



.functionality_container {
	display: flex;
	gap: 32px 65px;
	padding: 80px 0;
	align-items: center;
}

.functionality_container:not(:last-child) {
	border-bottom: 1px solid rgba(78, 93, 124, 0.08);
}

.functionality__item {
	align-items: center;
	max-width: 482px;
}

.functionality_container-right {
	justify-content: end;
	
}

.functionality_container-left {

	flex-flow: row-reverse;
	justify-content: start;
}

.functionality__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: #000;
	margin-bottom: 24px;
}

.functionality-image {
	width: 100%;
	max-width: 729px;
}

/* Блок сравнения */
/* .comparison {
	display: flex;
} */

.comparison__wrapper {
	padding: 120px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.comparison__text {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: var(--color-bg_opacity_80);
	margin-bottom: 40px;
}

.comparison__button {
	margin-bottom: 64px;
}

.comparison__image {
	margin-bottom: 64px;
	width: 100%;
}

.comparison__lists-container {
	box-sizing: border-box;
	display: flex;
	gap: 48px 103px;
}

.comparison__list-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 24px;
}


.comparison__list-text {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #fff;
	margin-left: -32px;
}

.comparison__list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
	
}

.comparison__list-items {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: var(--color-bg_opacity_80);
	
}

.excel::before {
	content: url('../images/exclamation-circle.svg');
	position:absolute;
	left: -32px;
	display: block;
	width: 100%;
}

/* Блок преимуществ */


.advantages-wrapper {
	margin: 0 auto;
	display: flex;
	
	
}

.advantages__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 32px;
	line-height: 120%;
	color: #000;
	margin-bottom: 20px;
}

.advantages-container {
	display: flex;
	gap: 78px 32px;
	padding: 120px 0 80px 0;
	border-bottom: rgba(78, 93, 124, 0.08) solid 1px;
}

.advantages {
	width: 394px;
}

.advantages img{
	margin-bottom: 24px;
}


/* Блок мобильная версия */


.mobile-version__wrapper {
	padding: 80px 0 120px;
}

.mobile-version__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile-version__text {
	margin-bottom: 40px;
}

.mobile-version-image img {
	width: 100%;
}


/* Блок поддержка клиентов */


/* .clients-support {
	margin-bottom: 80px;
} */

.clients-support__container {
	display: flex;
	justify-content: center;
	gap: 32px 74px;
	border-radius: 16px;
}

.support__text {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	color: var(--color-bg_opacity_80);
}

.support_left {
	display: flex;
	align-items: end;
}

.support_right {
	padding-top:84px;
	width: 460px;
}

.support_right-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.clients-support__title{
	font-size: 40px;
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	margin-bottom: 24px;
}

.support-contacts {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.support-contacts__item {
	display: flex;
	align-items: center;
	gap: 16px;
}

.support-contacts__link, .author-description {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	color: var(--color-bg);
}


/* Grid раскладка карточек */


.tarrifs {
	padding: 80px 0;
}

.tariffs__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 369px);
	gap: 24px;
	justify-content:center;
}


/* Grid карточка */


.tariffs__item {
	display: grid;
	grid-template-columns: 160px 129px;
	border-radius: var(--border-8);
	box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.16);
	padding: 48px 40px;
	grid-template-areas:
	"discount discount"
	"title title"
	"description description"
	"prices prices"
	"button button";
}

.tariffs__item_blue {
	background-color: var(--secong-color);
}

.tariffs__item_blue .strong-text{
	color: #fff;
}

.tariffs__item_blue .tariffs__item-text {
	margin-bottom: 32px;
	color: rgba(255, 255, 255, 0.6);
}

.tariffs__item_blue .prices-table {
	color: #fff;
}

.disscount {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 15px;
	line-height: 140%;
	color: #fff;
	background-color: var(--color-bg-green);
	border-radius: var(--border-8);
	padding: 4px 16px;
	width: 124px;
	height: 29px;
	margin-bottom: 16px;
}

.disscount_not-visible {
	visibility: hidden;
}

.strong-text {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 32px;
	line-height: 120%;
	color: #000;
	margin-bottom: 16px;
	grid-area: title;
}

.tariffs__item-text {
	grid-area: description;
	margin-bottom: 50px;
}

.tariffs__prices {
	grid-area: prices;
	margin-bottom: 40px;
}

.item__button {
	padding: 12px 63px;
	grid-area: button;
}


/* Table */


.prices-table {
	border-collapse: collapse;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 120%;
	color: var(--color-table-text);
}

.prices-table tr {
	height: 36px;
}

.prices-table tr:nth-child(2) {
	height: 52px;
}

.prices-table tr:not(:last-child) {
	border-bottom: 1px solid rgba(78, 93, 124, 0.08);
}

.first-column {
	width: 187px;
}

td {
	position: relative;
}

.benefit {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 17px;
	line-height: 120%;
	color: #fff;
	border-radius: 8px;
	width: 105px;
	height: 36px;
	background-color: var(--color-bg-yellow);
	padding: 8px 16px;
	position: absolute;
	left:-16px;
	top: 50%;
	transform: translateY(-50%);
}


/* Блок с отзывами */

.reviews{
	margin-bottom: 80px;
}

.reviews__container {
	display: flex;
	background-color: var(--secong-color);
	border-radius: 8px;
	position: relative;
}

.reviews__text-container {
	margin: auto;
	padding: 120px 0 112px;
	max-width: 365px;
	/* position: relative; */
}

.reviews__image-container {
	/* background-image: url('../images/reviews/photo.jpg'); */
	/* position: relative; */
	width: 50%;
	max-height: 438px;
	overflow: hidden;
}

.reviewer-photo {
	width: 100%;
	height: 100%;
}

h2.reviews__title {
	margin-bottom: 40px;
}

.review__text {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 28px;
	line-height: 140%;
	color: var(--color-bg);
	margin-bottom: 40px;
}

.review__author {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 17px;
	line-height: 140%;
	color: var(--color-bg);
}

.reviews-buttton__container {
	display: flex;
}

.radio-slider {
	display: none;
}

input[type="radio"] {
	display: none;
}

.controls {
	text-align: center;
	margin-top: 48px; 
}

.controls label {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: var(--color-bg_opacity_50);
	border-radius: 50%;
	margin: 4px;
	cursor: pointer;
}

input:checked + label {
	background: var(--color-bg);
}

.slider-button {
	background-color: var(--color-bg);
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	box-shadow: 0 0 32px 0 rgba(78, 93, 124, 0.32);
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.slider-button_inaccessible {
	opacity: 60%;
}

.slider-button_prev {
	left: 30px;
}

.slider-button_next {
	left: calc(100% - 70px);
}

@media (max-width: 1600px) {
	.hero-laptop {
		position: static;
	}
}

@media (max-width: 1440px) {

	.section_skew {
		padding: 32px 24px 48px;
	}

	.section-hero {
		padding: 28px 0 19px;
	}

	.benefits__container{
		padding: 48px 24px;
	}

	.functionality {
		padding: 0 24px;
	}

	.comparison__wrapper {
		padding: 64px 24px;
	}	

	.advantages-container {
		padding: 64px 24px 48px;
	}
}

@media (max-width: 1220px) {
	.hero__right {
		display: none;
	}

	.benefits__container {
		flex-direction: column;
		gap: 32px;
		padding-bottom: 40px;
	}

	.benefits{
		display: flex;
		justify-content: center;
	}

	.functionality_container {
		flex-wrap: wrap-reverse;
		justify-content: center;
		border-bottom: rgba(78, 93, 124, 0.08) solid 1px;
		padding: 48px 0;
	}

	.functionality_container:last-child {
		border-bottom: none;
	}
	
	.advantages-container {
		flex-direction: column;
	}

	.mobile-version__wrapper {
		padding: 48px 0 64px 24px;
	}

	.support_right {
		width: 100%;
	}

	.clients-support__container {
		flex-direction: column-reverse;
		align-items: center;
		padding: 0 24px;
		border-radius: 0;
	}

	.support_left img {
		width: 100%;
	}

	.reviews__wrapper {
		padding: 32px 24px 0;
	}
	
	.reviews__container {
		flex-direction: column-reverse;
		align-items: center;
		/* max-width: 550px; */
		margin: 0 auto;
	}

	.reviewer-photo {
		/* height: auto; */
	}

	.reviews__text-container {
		padding: 48px 24px;
	}
}

@media (max-width: 800px) {

	.comparison__lists-container {
		flex-direction: column;
		align-items: center;
	}

	.comparison__button {
		margin-bottom: 48px;
	}

	.comparison__text {
		margin-bottom: 32px;
		text-align: left;
	}
	
	.comparison__image {
		margin-bottom: 54px;
	}

	.advantages__title {
		font-size: 24px;
		margin-bottom: 24px;
	}

	.mobile-version__container {
		align-items: flex-start;
	}

	.mobile-version-image img {
		width: 200%;
	}

	.support_right {
		padding-top: 64px;
	}

	.tarrifs {
		padding: 40px 24px 0px;
	}

	.slider-button {
		display: none;
	}

	.radio-slider {
		display: block;
	}

	.review__text {
		font-size: 24px;
	}

	.reviews__title {
		text-align: left;
		margin: 32px 0;
	}
}

@media (max-width: 500px) {

	.logo-link__header {
		font-size: 24px;
	}

	.hero-title {
		font-size: 32px;
	}

	.benefit-text {
		font-size: 18px;
		line-height: 140%;
	}

	.benefit-image {
		width: 48px;
	}

	.functionality__title {
		font-size: 32px;
	}

	.comparison__list-container {
		padding: 0 24px;
	}

	.clients-support__title {
		font-size: 36px;
	}

	.support_right-container {
		gap: 32px;
	}

	.reviews__image-container {
		width: 100%;
	}
}

@media (max-width: 450px) {

	.tariffs__item {
		grid-template-columns: 160px 120px;
	}

	.section__title {
		font-size: 36px;
		text-align: left;
	}
	
	.title__description {
		text-align: left;
	}

	.disscount_not-visible {
		display: none;
	}

	.tariffs__item-text {
		margin-bottom: 32px;
	}

	.first-column {
		width: 178px;
	}

	.tariffs__prices {
		margin-bottom: 32px;
	}


}