* {
	box-sizing: border-box;
}
main {
	background-color: #1E1F29;
	width: 793px;
	border-radius: 10px;
	padding: 48px;
	margin: 0 auto;
	max-width: 600px;
}

h1 {
	font-family: "Fira Sans", sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 120%;
	text-align: center;
	color: #fafafa;
	margin: 0 0 32px 0;
}

input, textarea, select {
	font-family: "Fira Sans", sans-serif;
	background-color: #2E2D3D;
	color: #FAFAFA;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	padding: 27px 48px 12px;
	border-radius: 10px;
	border: none;
	width: 100%;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	color: #4a4863;
	font-size: 16px;
}

label {
	position: absolute;
	top:12px;
	left:48px;
	font-family: "Fira Sans", sans-serif;
	color: #AFB2BF;
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
}

button {
	background-color: #6C38CC;
	color: #FAFAFA;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	text-align: center;
	border: none;
	border-radius: 10px;
	padding: 12px 24px;
}

.field {
	margin-bottom: 16px;
	position: relative;
}

.field img {
	position:absolute;
	top: 17px;
	left: 16px;
}